.wrapper {
    display: grid;
    width: 100%;
    grid-template-rows:   250px 250px  250px 250px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 0;
}


.offWorkingStuff {
    background: cadetblue;
    grid-column: 1 / span 1;  grid-row: 1 / span 1;
}

.officialNews {
    background: cornflowerblue;
    grid-column: 2 / span 1;  grid-row: 1 /span 1;
}

.studentsStuff {
    background: lightskyblue;
    grid-column: 3 / span 1;  grid-row: 1 / span 1;
}

.ownCloud {
    background: palevioletred;
    grid-column: 1 / span 1;  grid-row: 2 / span 1;
}

.schedule {
    background: red;
    grid-column: 2 /span 2;  grid-row: 2 / span 2;
}

.kennstDuSchon {
    background: blue;
    grid-column: 1 / span 1;  grid-row: 3 / span 2;
}

.kurzelKai {
    background: yellow;
    grid-column: 2 / span 1;  grid-row: 5 / span 1;
}

.importantNews {
    background: yellow;
    grid-column: 3 / span 1;  grid-row: 5 / span 1;
}
.sbar {
    background: lightgreen;
    grid-column:  3 / span 1;  grid-row: 4 / span 1;
}

.mensa {
    background: limegreen;
    grid-column: 2 / span 1;  grid-row: 4 / span 1;
}

.calendar {
    grid-column: 1 / span 1 ; grid-row: 5 / span 1;
}

.kennstDuSchon img {
    width: 26%;
    height: 26%;
    padding: 5%;
}

body {margin: 0;}
