.wrapper {
    display: grid;
    width: 100%;
    grid-template-rows:   200px 200px  200px 200px 200px;
    grid-template-columns: 20% 26% 27% 27%;
    margin: 0;
}

aside {
    background:blue;
    grid-column: 1 / span 1;  grid-row: 1 / span 5;
    height: 100%;
}

.offWorkingStuff {
    background: cadetblue;
    grid-column: 2 / span 1;  grid-row: 1 / span 1;
    padding: 7%;
}

.officialNews {
    background: cornflowerblue;
    grid-column: 3 / span 1;  grid-row: 1 /span 1;
    padding: 7%;
}

.studentsStuff {
    background: lightskyblue;
    grid-column: 4 / span 1;  grid-row: 1 / span 1;
    padding: 7%;
}

.ownCloud {
    background: palevioletred;
    grid-column: 2 / span 1;  grid-row: 2 / span 1;
    padding: 7%;
}

.schedule {
    background: red;
    grid-column: 3 /span 2;  grid-row: 2 / span 2;
    padding: 7%;
}

.kennstDuSchon {
    background: blue;
    grid-column: 2 / span 1;  grid-row: 3 / span 2;
    padding: 7%;
}

.kurzelKai {
    background: yellow;
    grid-column: 3 / span 1;  grid-row: 5 / span 1;
    padding: 7%;
}

.importantNews {
    background: yellow;
    grid-column: 4 / span 1;  grid-row: 5 / span 1;
    padding: 7%;
}
.sbar {
    background: lightgreen;
    grid-column: 4 / span 1;  grid-row: 4 / span 1;
    padding: 7%;
}

.mensa {
    background: limegreen;
    grid-column: 3 / span 1;  grid-row: 4 / span 1;
    padding: 7%;
}

.calendar {

    grid-column: 2 / span 1 ; grid-row: 5 / span 1;
    padding: 7%;

}

.kennstDuSchon img {
    width: 26%;
    height: 26%;
    padding: 5%;
}

body {margin: 0;}

.icon-bar {
    width: 100%; /* Set a specific width */
    height: 100%;
    background-color: #555; /* Dark-grey background */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: left; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: black; /* Add an active/current color */
}

.menubild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}