.wrapper {
    display: grid;
    width: 100%;
    grid-template-rows:200px 1fr 200px 200px;
    grid-template-columns: 20% 550px 550px 550px;

}

article {
    background: gold;
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:4;
}

aside {
    background:lightgreen;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:4;
}

.tiles li {
    cursor: pointer;
    height: 120px;
    width: 200px;
    margin: 10px 0 0 10px;
    background: #ddd;
    position: relative;
    float: left;
    padding: 15px;
    list-style: none;

}

.tiles {
    width: 830px
}

.tiles #schedule {
    width: 410px;
    height: 240px;
}

body {margin: 0;}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/* Layout für 900px Größe in der Breite */
@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

/* Layout für 400px Größe in der Breite */
@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
